<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar d-flex justify-content-end mr-5 mt-2">
        <a href="/">View All Books</a>
        <a class = "text-right ml-3" href="/authors">View All Authors</a>
    </div>
    <div class="container d-flex justify-content-center justify-content-around mt-5">
        <div class="card border-0 col-3">
            <h1 class="mb-4">Book Title: {{ book.title }}</h1>
            <h3>ID: {{ book.id }}</h3>
            <h3>Description: {{ book.desc }}</h3>
            <h3 class="mb-4">Favorited By:</h3>
                <div class="mb-3 form-group border border-dark rounded p-4 d-flex flex-column">
                    {% for author in book.authors.all %}
                        <a href="/authors/{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</a>
                    {% endfor %}
                </div>
        </div>
        <div class="card border-0 col-5">
            <h1 class="mb-4">Add Authors Who Favorite {{book.title}}</h1>
            <form action="/books/{{book.id}}" method="post">
                {%  csrf_token %}
                <input type="hidden" name="book" value="{{book.id}}">
                <div class="mb-3 form-group d-flex align-items-center">
                    <label for="author_id"></label>
                    <select name="book" class="" >
                        <option value=""></option>
                        {% for author in authors %}
                            {% if book not in author.book.all%}
                                <option value="{{author.id}}">{{author.first_name}} {{ author.last_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary mb-3" value="Add" >Add</button>
            </form>
        </div>
    </div>
</body>
</html>